/* ------------------------------------------------------  
This file contains the styling for the actual theme, this
is the file you need to edit to change the look of the
theme.
------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
/*----------------------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.card {
  border: none;
  background-color: unset;
}
.card .card-body {
  padding: 0;
}

section {
  display: block;
  overflow: hidden;
}

img {
  width: 100%;
}

/*animation css start*/
@-webkit-keyframes clippath {
  0%, 100% {
    -webkit-clip-path: inset(0 0 98% 0);
    clip-path: inset(0 0 98% 0);
  }
  25% {
    -webkit-clip-path: inset(0 98% 0 0);
    clip-path: inset(0 98% 0 0);
  }
  50% {
    -webkit-clip-path: inset(98% 0 0 0);
    clip-path: inset(98% 0 0 0);
  }
  75% {
    -webkit-clip-path: inset(0 0 0 98%);
    clip-path: inset(0 0 0 98%);
  }
}
@keyframes clippath {
  0%, 100% {
    -webkit-clip-path: inset(0 0 98% 0);
    clip-path: inset(0 0 98% 0);
  }
  25% {
    -webkit-clip-path: inset(0 98% 0 0);
    clip-path: inset(0 98% 0 0);
  }
  50% {
    -webkit-clip-path: inset(98% 0 0 0);
    clip-path: inset(98% 0 0 0);
  }
  75% {
    -webkit-clip-path: inset(0 0 0 98%);
    clip-path: inset(0 0 0 98%);
  }
}
@-webkit-keyframes bounchAnimation {
  0%, 100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  25% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  50% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  75% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}
@keyframes bounchAnimation {
  0%, 100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  25% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  50% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  75% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}
/*animation css end*/
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* preloader css start */
/*----------------------------------------------------*/
/*Prefix Styles*/
body {
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #6A6A6A;
  /*Section Fix*/
  /*Ancore*/
}
body ul li {
  list-style: none;
}
body ul li a {
  text-decoration: none;
}
body section.row, body header.row, body footer.row {
  margin: 0;
}
body #success {
  display: none;
}
body #error {
  display: none;
}
body iframe {
  border: none;
}
body i:before {
  margin-left: 0px !important;
}
body a, body .btn, body button {
  outline: none;
  -webkit-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
  text-decoration: none;
}
body a:before, body a:after, body .btn:before, body .btn:after, body button:before, body button:after {
  -webkit-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
}
body a:focus, body a:hover, body .btn:focus, body .btn:hover, body button:focus, body button:hover {
  outline: none;
  text-decoration: none;
  -webkit-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
}

/*----------------------------------------------------*/
.theme-btn {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  -webkit-filter: drop-shadow(0px 10px 50px rgba(61, 55, 241, 0.25));
          filter: drop-shadow(0px 10px 50px rgba(61, 55, 241, 0.25));
  border-radius: 50px;
  min-width: 182px;
  display: inline-block;
  padding: 16.5px 38px;
  position: relative;
  overflow: hidden;
}
.theme-btn::after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.theme-btn:hover, .theme-btn:focus {
  color: #000;
}
.theme-btn:hover::after, .theme-btn:focus::after {
  left: 0;
  width: 100%;
}
.theme-btn.active::after {
  background: #fff;
  width: 100%;
}
.theme-btn.active:hover, .theme-btn.active:focus {
  color: #fff;
}
.theme-btn.active:hover::after, .theme-btn.active:focus::after {
  left: 0;
  width: 0;
}

.header-btn {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.83px;
  padding: 8.6px 30px;
  min-width: unset;
}

.header-section {
  background: #000;
  padding: 25px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header-section.sticky {
  padding: 15px 0;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-wrapper .main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 70px;
}
.header-wrapper ul li {
  display: inline-block;
  margin-left: 45px;
}
.header-wrapper ul li a {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.header-logo {
  display: block;
}
.header-logo img {
  max-width: 150px;
}

.banner-section {
  background: #000;
  padding-bottom: 20px;
  overflow: visible;
}

.container-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  padding: 220px 0;
}
.container-wrapper .banner-left-img {
  position: absolute;
  top: 80px;
  left: 0;
  max-width: 640px;
}

.banner-content h1 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 39px;
  line-height: 54px;
  color: #FFFFFF;
}
.banner-content p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #FFFFFF;
  margin-bottom: 50px;
  margin-top: 15px;
}

.button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.content-wrapper {
  max-width: 1090px;
  margin: 0 auto;
}

.search-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 60px 1fr 60px 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  padding: 30px 50px;
  padding-bottom: 40px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 10px 50px rgba(61, 55, 241, 0.25);
          box-shadow: 0px 10px 50px rgba(61, 55, 241, 0.25);
  border-radius: 20px;
}
.search-wrapper label {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
}
.search-wrapper .form-control, .search-wrapper .form-select {
  padding: 10px 0;
  padding-bottom: 5px;
  border-radius: 0;
  background-color: #fff;
  border: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #000000;
  border-bottom: 1px solid #000;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}
.search-wrapper .form-control::-webkit-input-placeholder, .search-wrapper .form-select::-webkit-input-placeholder {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #000000;
}
.search-wrapper .form-control::-moz-placeholder, .search-wrapper .form-select::-moz-placeholder {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #000000;
}
.search-wrapper .form-control:-ms-input-placeholder, .search-wrapper .form-select:-ms-input-placeholder {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #000000;
}
.search-wrapper .form-control::-ms-input-placeholder, .search-wrapper .form-select::-ms-input-placeholder {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #000000;
}
.search-wrapper .form-control::placeholder, .search-wrapper .form-select::placeholder {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #000000;
}

.search-section {
  overflow: visible;
  padding-bottom: 100px;
  margin-top: -70px;
}

.events-near-section .row {
  --bs-gutter-x: 30px;
  --bs-gutter-y: 30px;
}
.events-near-section .theme-btn {
  background: transparent !important;
  color: #000;
  margin-top: 30px;
}
.events-near-section .theme-btn::after {
  background: transparent;
  width: 0;
}
.events-near-section .theme-btn:hover, .events-near-section .theme-btn:focus {
  color: #fff;
}
.events-near-section .theme-btn:hover::after, .events-near-section .theme-btn:focus::after {
  background: #000 !important;
  width: 100%;
}

.events-section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}
.events-section-title form {
  width: 100%;
  max-width: 500px;
  margin-left: auto;
}
.events-section-title .button-group {
  max-width: 500px;
  margin-left: auto;
}
.events-section-title h2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: #000000;
}
.events-section-title .form-select {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  height: 46px;
  background-color: #F2F4FF;
  border-radius: 50px;
  padding: 10px 15px;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.events-card {
  border-radius: 19px;
  overflow: hidden;
  -webkit-filter: drop-shadow(0px 18.9529px 47.3822px rgba(119, 115, 170, 0.1));
          filter: drop-shadow(0px 18.9529px 47.3822px rgba(119, 115, 170, 0.1));
  background: #fff;
}
.events-card .card-thumb {
  display: block;
  height: 200px;
  overflow: hidden;
}
.events-card .card-thumb img {
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.events-card .card-body {
  padding: 18px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 20px;
}
.events-card .date-info {
  padding-top: 5px;
}
.events-card .date-info span {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 11.3717px;
  line-height: 15px;
  text-align: center;
  color: #000000;
  display: block;
}
.events-card .date-info strong {
  display: block;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 28.4293px;
  line-height: 37px;
  color: #000000;
}
.events-card .card-info .card-title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
  display: block;
  margin-bottom: 7px;
}
.events-card .card-info p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #6A6A6A;
}
.events-card:hover .card-thumb img, .events-card:focus .card-thumb img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.events-card:hover .card-info .card-title, .events-card:focus .card-info .card-title {
  text-decoration: underline;
}

.make-events-section {
  position: relative;
  z-index: 1;
}
.make-events-section::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 250px;
  left: 0;
  bottom: 0;
  background: #000;
  z-index: -1;
}

.content-wrapperr {
  position: relative;
}

.make-event-content {
  margin-bottom: 20px;
}
.make-event-content h2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 46px;
  color: #FFFFFF;
}
.make-event-content p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  margin-top: 10px;
  margin-bottom: 30px;
}

.brand-section-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.brand-section-wrapper img {
  max-width: 160px;
  height: 50px;
}

.brand-section {
  padding: 120px 0;
}

.brand-section-title,
.blog-section-title {
  margin-bottom: 60px;
  text-align: center;
}
.brand-section-title h2,
.blog-section-title h2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 54px;
  color: #000000;
  margin-bottom: 15px;
}
.brand-section-title p,
.blog-section-title p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #6A6A6A;
}

.blog-card .card-thumb {
  display: block;
  height: 210px;
  border-radius: 20px;
  overflow: hidden;
}
.blog-card .card-thumb img {
  height: 210px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.blog-card .card-body {
  padding-top: 15px;
}
.blog-card .card-body .card-title {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #000000;
  display: block;
  margin-bottom: 15px;
}
.blog-card .card-body p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
  margin-bottom: 15px;
}
.blog-card .card-body span {
  display: block;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #A5A5A5;
}

.blog-section {
  padding-bottom: 60px;
}
.blog-section .row {
  --bs-gutter-x: 30px;
  --bs-gutter-y: 30px;
}
.blog-section .theme-btn {
  border: 2px solid #000;
}
.blog-section .theme-btn::after {
  background: transparent !important;
  width: 0;
}
.blog-section .theme-btn:hover::after, .blog-section .theme-btn:focus::after {
  width: 100%;
  background: #000 !important;
  color: #fff !important;
}

.footer-section {
  padding-top: 60px;
  background: #000;
}

.footer-left {
  margin-top: 10px;
}
.footer-left p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #F3F3F3;
  margin-bottom: 35px;
}

.social-icon li {
  display: inline-block;
  margin-right: 13px;
}
.social-icon li a {
  height: 36px;
  width: 36px;
  line-height: 36px;
  text-align: center;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  background: #3B5998;
  display: inline-block;
}
.social-icon li:nth-child(2) a {
  background: #55ACEE;
}
.social-icon li:nth-child(3) a {
  background: #007AB9;
}

.footer-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 100px 1fr 100px 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 100px;
}

.footer-menu .ms-auto {
  max-width: 85px;
}

.footer-item h3 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-bottom: 25px;
}
.footer-item p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #F3F3F3;
}
.footer-item ul li {
  display: block;
}
.footer-item ul li a {
  display: block;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 200%;
  color: #F3F3F3;
}

.newsletter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #fff;
  padding: 6px;
  border-radius: 45px;
  margin-top: 20px;
}
.newsletter-form .theme-btn {
  font-size: 12px;
  padding: 10px 20px;
  background: #000;
  min-width: 130px;
}
.newsletter-form .form-control {
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 12px;
}

.footer-bottom {
  border-top: 1px solid #fff;
  margin-top: 70px;
  padding: 30px 0;
  text-align: center;
}
.footer-bottom P {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #FEFEFE;
}

@media (max-width: 1199px) {
  .container-wrapper .banner-left-img {
    top: 120px;
    max-width: 510px;
  }
  .events-section-title h2,
  .brand-section-title h2, .blog-section-title h2 {
    font-size: 35px;
  }
  .events-card .card-body {
    padding: 12px 12px;
    gap: 15px;
  }
  .events-card .card-info .card-title {
    font-size: 14px;
  }
  .events-card .date-info strong {
    font-size: 20px;
    line-height: 26px;
  }
  .search-wrapper .form-control, .search-wrapper .form-select {
    font-size: 16px;
  }
  .search-wrapper .form-control::-webkit-input-placeholder {
    font-size: 16px;
  }
  .search-wrapper .form-control::-moz-placeholder {
    font-size: 16px;
  }
  .search-wrapper .form-control:-ms-input-placeholder {
    font-size: 16px;
  }
  .search-wrapper .form-control::-ms-input-placeholder {
    font-size: 16px;
  }
  .search-wrapper .form-control::placeholder {
    font-size: 16px;
  }
  .blog-card .card-body .card-title {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
  }
}
@media (max-width: 992px) {
  .overlay {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    height: 100vh;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .overlay.active {
    left: 0;
  }
  .main-menu-wrapper {
    position: fixed;
    top: 0;
    left: -100%;
    max-width: 320px;
    width: 100%;
    background: #fff;
    height: 100vh;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .main-menu-wrapper ul {
    width: 100%;
  }
  .main-menu-wrapper .main-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    padding: 50px 30px;
    padding-top: 80px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
    padding-bottom: 50px;
  }
  .main-menu-wrapper .main-menu .theme-btn {
    display: block;
    width: 100%;
    background: #000;
  }
  .main-menu-wrapper.active {
    left: 0;
  }
  .header-wrapper ul li {
    display: block;
    margin: 0;
  }
  .header-wrapper ul li a {
    color: #000;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    display: block;
  }
  .mobile-menu-closer {
    position: absolute;
    cursor: pointer;
    display: block;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    border: 1px solid #ddd;
    top: 20px;
    right: 20px;
  }
  .mobile-menu-opner {
    font-size: 25px;
    color: #fff;
    cursor: pointer;
  }
  .container-wrapper {
    text-align: center;
  }
  .container-wrapper .banner-left-img {
    position: unset;
    margin: 0 auto;
  }
  .container-wrapper .button-group {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container-wrapper {
    padding: 100px 0;
  }
  .search-section {
    padding: 60px 0;
    margin-top: -130px;
  }
  .events-section-title {
    display: block;
    text-align: center;
  }
  .events-section-title h2 {
    margin-bottom: 20px;
  }
  .events-section-title .button-group, .events-section-title form {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }
  .make-events-section {
    background: #000;
    text-align: center;
    padding: 60px 0;
  }
  .make-events-section .button-group {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .events-near-section {
    padding-bottom: 60px;
  }
  .brand-section {
    padding: 60px 0;
  }
  .footer-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: repeat(1, 1fr);
    gap: 0 100px;
  }
  .footer-menu .ms-auto {
    margin-left: 0 !important;
  }
  .footer-item {
    margin-top: 50px;
  }
  .footer-grid {
    max-width: 410px;
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .container-wrapper .banner-left-img {
    max-width: 260px;
  }
  .banner-content h1 {
    font-size: 25px;
    line-height: 34px;
  }
  .theme-btn {
    font-size: 14px;
    line-height: 12px;
    min-width: 114px;
    padding: 12.5px 21px;
  }
  .search-wrapper {
    gap: 30px;
    padding: 20px;
  }
  .make-event-img {
    max-width: 250px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .footer-bottom {
    margin-top: 40px;
  }
}
@media (max-width: 575px) {
  .container {
    padding: 0 20px;
  }
  .header-section {
    padding: 10px 0;
  }
  .search-wrapper {
    gap: 16px;
    padding: 15px;
  }
  .search-wrapper label {
    font-size: 12px;
  }
  .search-wrapper .form-control, .search-wrapper .form-select {
    font-size: 12px;
  }
  .events-section-title h2, .brand-section-title h2, .blog-section-title h2 {
    line-height: 50px;
    font-size: 30px;
  }
  .events-section-title {
    margin-bottom: 30px;
  }
  .search-wrapper .form-control::-webkit-input-placeholder {
    font-size: 12px;
  }
  .search-wrapper .form-control::-moz-placeholder {
    font-size: 12px;
  }
  .search-wrapper .form-control:-ms-input-placeholder {
    font-size: 12px;
  }
  .search-wrapper .form-control::-ms-input-placeholder {
    font-size: 12px;
  }
  .search-wrapper .form-control::placeholder {
    font-size: 12px;
  }
  .make-event-content h2 {
    font-size: 30px;
    line-height: 30px;
  }
  br {
    display: none;
  }
  .brand-section-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
/*----------------------------------------------------*/
